@media (max-width:1200px) {
    #welcome-navbar-login {
        display:none;
    }
}
@media (max-width:767px) {
    #account-profPic {
        border:2px rgb(200, 200, 239) solid;
        border-radius:50%;
        margin:12px 25px;
        width:100px;
        height:100px;
        object-fit:cover;
        background:#2f2f73;
    }
    #account-info-panel-leftSpace {
        display:none;
    }
    #account-userInfo-cont{
        width:200px;
    }
    #account-primary-editProfile-btn-cont {
        display:none;
    }
    #account-info-panel-rightSpace {
        right:20px;
    }
}
@media (min-width:768px) {
    #account-profPic {
        border:4px rgb(200, 200, 239) solid;
        border-radius:50%;
        margin:25px;
        width:180px;
        height:180px;
        object-fit:cover;
        background:#2f2f73;
    }
    #account-info-panel-leftSpace {
        width:200px;
    }
    #account-info-panel-rightSpace {
        display:none;
    }
    #account-primary-editProfile-btn-cont {
        margin:0;
        padding:0;
    }
}
@media (max-width:1200px) {
    #ha-leftSection {
        display:none;
    }
    #ha-leftSection-space {
        display:none;
    }
    #flash-primary-cont {
        display:none;
    }
    #ha-primary-flash {
        display:none;
    }
    #flash-secondary-cont {
        width:100%;
        padding:0;
        margin:0;
    }
    #ha-secondary-flash {
        margin:0;
        border-radius:0;
        border:0;
    }
}
@media (min-width:1201px) {
    #ha-leftSection {
        width:370px;
        height:500px;
        border:1px rgb(200, 200, 239) solid;
        border-radius:8.5px;
    }
    #ha-leftSection-space {
        width:370px;
        height:500px;
    }
    #flash-primary-cont {
        width:370px;
        padding:0;
        margin:0;
    }
    #ha-primary-flash {
        margin:22px 0 0 0;
    }
    #flash-secondary-cont {
        display:none;
    }
    #ha-secondary-flash {
        display:none;
    }
}
#ha-rightSection {
    padding:0;
}
body {
    padding:0;
    margin:0;
}
#floating-widget {
    position:fixed;
}
::-webkit-input-placeholder {
    font-size:12px;
}
.boop-nameplate:hover {
    opacity:0.5;
}
#upperNavbar-aboutBtn {
    font-family:Poppins-Medium;
    width:120px;
}
#bottomNavbar-aboutBtn {
    font-family:Poppins-Medium;
    width:120px;
}
.auth-btn {
    font-family:Poppins-Bold;
    margin-top:10px;
    width:100%;
    border:1px white solid;
    color:white;
    border-radius:150px;
}
#about-btn {
    font-family:Poppins-Bold;
    width:140px;
}
#signup-form {
    border-radius:8.5px;
    background-color:white;
    border:1px rgb(200, 200, 239) solid;
    margin:40px 0;
    padding:30px;
}
#login-form {
    border-radius:8.5px;
    background-color:white;
    border:1px rgb(200, 200, 239) solid;
    margin:40px 0;
    padding:30px;
}
#alert-box {
    z-index:2;
    width:350px;
    position:fixed;
    right:40px;
    bottom:40px;
}
#welcome-navbar {
    position:fixed;
    z-index:2;
    width:100%;
    height:50px;
    padding:0;
}
#secured-navbar {
    position:fixed;
    z-index:2;
    padding:0 17%;
    width:100%;
    background-color:#00002A;
    height:auto;
    top:-0.5px;
}
#home-btn:hover .st0 {
    fill:#00002A;
}
#account-btn:hover .st0 {
    fill:#00002A;
}
#navbar-account:hover {
    background-color:#00002A;
    color:white;    
}
#navbar-settings:hover {
    background-color:#00002A;
    color:white;    
}
#navbar-logout:hover {
    background-color:#00002A;
    color:white;    
}
.floating-anim {
    animation-name:floating-anim;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
}
@keyframes floating-anim {
    from { transform:translate(0,  0px); }
    65%  { transform:translate(0, 15px); }
    to   { transform:translate(0, -0px); }    
}
.typewriting-anim h1 {
    color:white;
    font-size:60px;
    font-family:Poppins-Bold;
    overflow:hidden;
    border-right:.15em solid orange;
    white-space:nowrap;
    margin:0 auto;
    letter-spacing:2px;
    animation: 
      typing 2s steps(30, end),
      blink-caret 1.5s step-end infinite;
}
@keyframes typing {
    from { width:0 }
    to { width:100% }
}
@keyframes blink-caret {
    from, to { border-color:transparent }
    50% { border-color:orange }
}
.text-center {
    text-align:center;
}
#account-action-panel {
    border-left:1px rgb(200, 200, 239) solid;
    border-right:1px rgb(200, 200, 239) solid;
    border-bottom:1px rgb(200, 200, 239) solid;
}
.account-actionPanel-item {
    font-family:Poppins-Medium;
    height:35px;
    padding-top:7px;
    color:black;
}
.account-actionPanel-item:hover {
    background-color:#2f2f73;
    color:white;
    text-decoration:none;
}
.text-center {
    text-align:center;
}
#account-fullName {
    font-family:Poppins-SemiBold;
}
#ha-body {
    margin-top:80px;
}
#account-coverPhoto-panel{
    height:200px;
    border:1px rgb(200, 200, 239) solid;
    background-color:rgb(200, 200, 239);
    border-top-left-radius:8.5px;
    border-top-right-radius:8.5px;
}
#account-profPic-cont {
    position:absolute;
    top:80px;
    left:5px;
}
#account-info-panel {
    height:140px;
    padding-top:10px;
    border-left:1px rgb(200, 200, 239) solid;
    border-right:1px rgb(200, 200, 239) solid;
}
#account-secondary-editProf-btn {
    border-radius:50px; 
}
#account-fullName-cont {
    padding:0;
}
#account-username-cont {
    padding:0;
    margin-top:-7px;
}
#account-content-panel {
    padding:0;
    border:1px rgb(200, 200, 239) solid;
    border-top:0;
    height:1000px;
    border-bottom-left-radius:8.5px;
    border-bottom-right-radius:8.5px;
}
#home-content-panel {
    padding:0;
    border:1px rgb(200, 200, 239) solid;
    border-top:0;
    height:1000px;
    border-radius:8.5px;
}
#create-pet-label-container {
    position:fixed;
    border-radius:50%;
	bottom:132.8px;
	right:105px;
	display:table;
	visibility: hidden;
}
#create-pet-label-text {
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}
.primary-floating-btn {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#00002A;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
}
#menu-action-list {
	position:fixed;
	right:40px;
	padding-bottom:20px;
	bottom:80px;
	z-index:100;
}
#menu-action-list li {
	list-style:none;
	margin-bottom:10px;
}
#menu-action-list li a {
	background-color:#00002A;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:60px;
	height:60px;
	display:block;
}
#menu-action-list:hover {
	visibility:visible!important;
	opacity:1!important;
}
.secondary-floating-btn {
    font-size:24px;
	margin-top:14px;
}
a#menu-action-btn + #menu-action-list {
    visibility:hidden;
}
a#menu-action-btn:hover + #menu-action-list {
    visibility:visible;
    animation:scale-in 0.5s;
}
a#menu-action-btn img {
	animation:rotate-in 0.5s;
}
a#menu-action-btn:hover > img {
	animation:rotate-out 0.5s;
}
@keyframes scale-in {
    from {
        transform:scale(0);
        opacity: 0;
    }
    to {
        transform:scale(1);
        opacity: 1;
    }
}
@keyframes rotate-in {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes rotate-out {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}
a#create-pet-floating-btn + div#create-pet-label-container {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s, opacity 0.5s ease;
  }
a#create-pet-floating-btn:hover + div#create-pet-label-container {
    visibility:visible;
    opacity:1;
}
#account-leftSection-space {
    pointer-events:none;
}
#gear-btn:hover .st0 {
    fill:#00002A; 
}
#home-btn:hover .st0 {
    fill:#00002A; 
}
#account-btn:hover .st0 {
    fill:#00002A; 
}
.red {
    background-color:red;
}
.blue {
    background-color:blue;
}
.yellow {
    background-color:yellow;
}
.green {
    background-color:green;
}
.orange {
    background-color:orange;
}
.violet {
    background-color:violet;
}
.pink {
    background-color:pink;
}