{% macro gallery_1() %}
    <div class="acc-lefSection-galleryCont">
        <img class="img-fluid ag-1p" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
    </div>
{% endmacro %}

{% macro gallery_2() %}
    <div class="acc-lefSection-galleryCont">
        <div class="row mp-0">
            <div class="col mp-0">
                <img class="img-fluid ag-2p-lp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
            </div>
            <div class="col mp-0">
                <img class="img-fluid ag-2p-rp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
            </div>
        </div>
    </div>
{% endmacro %}

{% macro gallery_3() %}
    <div class="acc-lefSection-galleryCont">
        <div class="row mp-0">
            <div class="col mp-0">
                <img class="img-fluid ag-2p-lp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
            </div>
            <div class="col mp-0">
                <div class="container-fluid mp-0">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid ag-2p-tp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <img class="img-fluid ag-2p-bp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro gallery_4() %}
    <div class="acc-lefSection-galleryCont">
        <div class="row mp-0">
            <div class="col mp-0">
                <div class="container-fluid mp-0">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid ag-2p-tlp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <img class="img-fluid ag-2p-blp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mp-0">
                <div class="container-fluid mp-0">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid ag-2p-tp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <img class="img-fluid ag-2p-bp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro gallery_5() %}
    <div class="acc-lefSection-galleryCont">
        <div class="row mp-0">
            <div class="col mp-0">
                <img class="img-fluid ag-2p-lp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
            </div>
            <div class="col mp-0">
                <div class="container-fluid mp-0">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid ag-56-m" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <img class="img-fluid ag-56-m" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mp-0">
                <div class="container-fluid mp-0">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid ag-2p-tp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <img class="img-fluid ag-2p-bp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro gallery_6() %}
    <div class="acc-lefSection-galleryCont">
        <div class="row mp-0">
            <div class="col mp-0">
                <div class="container-fluid mp-0">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid ag-2p-tlp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <img class="img-fluid ag-2p-blp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mp-0">
                <div class="container-fluid mp-0">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid ag-56-m" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <img class="img-fluid ag-56-m" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mp-0">
                <div class="container-fluid mp-0">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid ag-2p-tp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <img class="img-fluid ag-2p-bp" src="https://res.cloudinary.com/fmscrns/image/upload/v1578896819/BoopIt/pet/beaalyssa/c6baba98-dc78-4e18-bf14-7d814222c450.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}