{% extends "layout.html" %}
{% from "account_components.html" import content_item1, content_item2, content_item3, content_item4, content_item5, gallery_1, gallery_2, gallery_3, gallery_4, gallery_5, gallery_6 %}
{% from "navbar_components.html" import secured_navbar %}

    {% block bodyStyle %}
        <body style="overflow-y:scroll;">
    {% endblock bodyStyle %}

    {% block navbarAdjust %}
        <div id="secured-navbar" class="container-fluid">
    {% endblock navbarAdjust %}

    {% block navbarStyle %}
        <nav class="navbar navbar-expand-lg navbar-dark">
    {% endblock navbarStyle %}

    {% block navbarNameplate %}
        <img class="boop-nameplate" src="{{ url_for('static', filename='assets/boop-nameplate.svg') }}" style="width:60px;">
    {% endblock navbarNameplate %}

    {% block navbarContent %}
        {{ secured_navbar(current_user) }}
    {% endblock navbarContent %}

    {% block content %}
        <div id="ha-body" class="container" style="padding:0;">
            <div class="container" style="position:fixed;padding:0;">
                <div class="row" style="padding:0;margin:0;">
                    <div class="col-4" style="padding:0;">
                        <div id="acc-leftSection" class="container-fluid" style="padding:0;margin:0;">
                            <input type="search" class="form-control" id="acc-search" placeholder="Search Boop">
                            {{ gallery_6() }}
                        </div>
                        <div id="flash-primary-cont" class="container-fluid">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div id="ha-primary-flash" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                            <strong>{{ message }}</strong>
                                            <button id="ha-primary-flash-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="ha-leftSection-space" class="col-4"></div>
                <div id="ha-rightSection" class="col">
                    <div class="container-fluid">
                     
                       
                        {% if user_pets is defined %}
                         
                                
                                <div id="acc-content-pet-deck" class="row">
                                    {% for pet in user_pets %}
                                        {% for deal in deals %}
                                        {% if deal.pet_id == pet.public_id %}
                                            {% if deal.status == 'adopt' %}
                                        <div class="col-4">
                                            <a class="pet-card" href="{{ url_for('pet_profile_wall', username=user.username, public_id=pet.public_id) }}">
                                                <div class="card border-all">
                                                    <img class="card-img-top acc-pc-cp" src="{{ url_for('static', filename='images/{}'.format(pet.coverPhoto_filename)) }}">
                                                    <div class="card-body" style="margin-top:-20px;">
                                                        <img class="pet-profPic-sm float-left" src="{{ url_for('static', filename='images/{}'.format(pet.profPhoto_filename)) }}">
                                                        <div class="container-fluid acc-pc-pn pl-4 pt-1">
                                                            <span class="p-2">{{ pet.pet_name }}</span>
                                                        </div>
                                                        <div class="text-muted small mt-3">
                                                            <div class="row">
                                                                <div class="col">
                                                                    {{ pet.sex }}
                                                                </div>
                                                                <div class="w-100"></div>
                                                                <div class="col">
                                                                    {{ pet.specie_name }}
                                                                </div>
                                                                <div class="w-100"></div>
                                                                <div class="col">
                                                                    {{ pet.breed_name }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        {% if loop.index % 3 == 0 %}
                                            <div class="w-100" style="height:20px;"></div>
                                        {% endif %}

                                                {% endif%}
                                            {% endif%}
                                        {% endfor %}

                                    {% endfor %}
                                    
                                </div>
                                <div id="acc-content-pet-list" class="list-group">
                                    {% for pet in user_pets %}
                                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                       </div>
        <style>
            #acc-search {
                background-image: url({{ url_for('static', filename='assets/search.svg') }});
                background-size:17.5px;
                background-position: 4% 50%;
                background-repeat: no-repeat;
                text-indent: 30px;
            }
        </style>
    {% endblock content %}