{% macro flash_primary_messages(messages) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="ha-primary-flash" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button id="ha-primary-flash-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro flash_secondary_messages(messages) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="ha-secondary-flash" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button id="ha-secondary-flash-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro profileSnippet(current_user) %}
    <div class="ha-lefSection-profileSnippet">
        <img src="{{ url_for('static', filename='images/{}'.format( current_user.coverPhotoFilename )) }}" id="home-coverPhoto-panel" class="container-fluid">
        <div id="home-profileSnippet-profPic-cont" class="container">
            <div class="float-left">
                <img id="home-profileSnippet-profPic" src="{{ url_for('static', filename='images/{}'.format( current_user.profPhotoFilename )) }}">
            </div>
        </div>
        <div id="home-profileSnippet-textSection" class="row mx-auto">
            <div class="col-md-auto" style="width:120px;"></div>
            <div class="col" style="margin:0;padding:0;">
                <div class="row" style="margin:5px 0 15px 2px;">
                    <div class="col">
                        <a id="home-profileSnippet-fullName" href="{{ url_for('user_profile_pets', username=current_user.username, pet_page_no=1) }}">{{ current_user.firstName }} {{ current_user.lastName }}</a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <a id="home-profileSnippet-username" href="{{ url_for('user_profile_pets', username=current_user.username, pet_page_no=1) }}"><small>@{{ current_user.username }}</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro search(search_icon_link) %}
    <input type="search" class="form-control" id="acc-search" placeholder="Search Boop">
    <style>
        #acc-search {
            background-image: url({{ search_icon_link }});
            background-size:17.5px;
            background-position: 4% 50%;
            background-repeat: no-repeat;
            text-indent: 30px;
        }
    </style>
{% endmacro %}