{% extends "layout.html" %}
{% from "navbar_components.html" import secured_navbar %}
{% from "home_components.html" import content_item1, content_item2, content_item3, content_item4, content_item5 %}

    {% block bodyStyle %}
        <body style="overflow-y:scroll;">
    {% endblock bodyStyle %}

    {% block navbarAdjust %}
        <div id="secured-navbar" class="container-fluid">
    {% endblock navbarAdjust %}

    {% block navbarStyle %}
        <nav class="navbar navbar-expand-lg navbar-dark">
    {% endblock navbarStyle %}

    {% block navbarNameplate %}
        <img class="boop-nameplate" src="{{ url_for('static', filename='assets/boop-nameplate.svg') }}" style="width:60px;">
    {% endblock navbarNameplate %}

    {% block navbarContent %}
        {{ secured_navbar(current_user) }}
    {% endblock navbarContent %}

    {% block content %}
        <div id="ha-body" class="container" style="padding:0;">
            <div class="container" style="position:fixed;padding:0;">
                <div class="row" style="padding:0;margin:0;">
                    <div class="col-4" style="padding:0;">
                        <div id="ha-leftSection" style="padding-top:0;">
                            <input type="search" class="form-control" id="acc-search" placeholder="Search Boop">
                            <div class="ha-lefSection-profileSnippet">
                                <img src="https://res.cloudinary.com/fmscrns/image/upload/v1579030880/ehxrxzwpziiwoquj9fax.jpg" id="home-coverPhoto-panel" class="container-fluid">
                                <div id="home-profileSnippet-profPic-cont" class="container">
                                    <div class="float-left">
                                        <img id="home-profileSnippet-profPic" src="https://res.cloudinary.com/fmscrns/image/upload/v1555422032/sample.jpg">
                                    </div>
                                </div>
                                <div id="home-profileSnippet-textSection" class="row mx-auto">
                                    <div class="col-md-auto" style="width:120px;"></div>
                                    <div class="col" style="margin:0;padding:0;">
                                        <div class="row" style="margin:5px 0 15px 2px;">
                                            <div class="col">
                                                <a id="home-profileSnippet-fullName" href="{{ url_for('user_profile_pets', username=current_user.username) }}">{{ current_user.firstName }} {{ current_user.lastName }}</a>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <a id="home-profileSnippet-username" href="{{ url_for('user_profile_pets', username=current_user.username) }}"><small>@{{ current_user.username }}</small></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" id="home-leftSect-postStory" class="btn btn-light btn-block">
                                <img class="hci-bb-p" src="{{ url_for('static', filename='assets/bullhorn.svg') }}">
                                Post Story
                            </button>
                        </div>
                        <div id="flash-primary-cont" class="container-fluid">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div id="ha-primary-flash" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                            <strong>{{ message }}</strong>
                                            <button id="ha-primary-flash-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="row">
                <div id="ha-leftSection-space" class="col-4"></div>
                <div id="ha-rightSection ml-5" class="col">
                    <div class="container-fluid mp-0">
                        <div id="home-content-panel" class="container-fluid">
                            <div id="flash-secondary-cont" class="container-fluid">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div id="ha-secondary-flash" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                                <strong>{{ message }}</strong>
                                                <button id="ha-secondary-flash-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div id="home-content-group" class="list-group">
                                {{ content_item1() }}
                                {{ content_item2() }}
                                {{ content_item3() }}
                                {{ content_item4() }}
                                {{ content_item5() }}
                            </div>

                            {#
                            <div id="home-content-group" class="list-group">
                                {% for post in all_posts| sort(attribute='posted_on', reverse = True)  %}                       
                                    <div class="col-12">
                                        <a id="pet-card" >
                                            <div class="card">
                                                <div class="card-body">
                                                    <div id="acc-content-pet-name-cont">
                                                        <p id="acc-content-pet-name" class="card-title">
                                                            {{ post.post_author }}
                                                        </p>
                                                    </div>
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <img style="width:25px;">
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        {{ post.posted_on.strftime("%B") }} {{ post.posted_on.strftime("%d") }}, {{ post.posted_on.strftime("%I") }}:{{ post.posted_on.strftime("%M") }} {{ post.posted_on.strftime("%p") }}
                                                                        <span style="font-size:25px;"><p >{{ post.content }} </p></span>
                                                                    </div>
                                                                    <div class="w-100">
                                                                    </div>
                                                                    <div class="col">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            #acc-search {
                background-image: url({{ url_for('static', filename='assets/search.svg') }});
                background-size:17.5px;
                background-position: 4% 50%;
                background-repeat: no-repeat;
                text-indent: 30px;
            }
        </style>
    {% endblock content %}