{% extends "layout.html" %}
{% from "navbar_components.html" import secured_navbar %}
{% from "home_components.html" import content_item1, content_item2, content_item3, content_item4, content_item5 %}
{% from "left_components.html" import profileSnippet %}

    {% block bodyStyle %}
        <body style="overflow-y:scroll;";>
    {% endblock bodyStyle %}

    {% block navbarAdjust %}
        <div id="secured-navbar" class="container-fluid">
    {% endblock navbarAdjust %}

    {% block navbarStyle %}
        <nav class="navbar navbar-expand-lg navbar-dark">
    {% endblock navbarStyle %}

    {% block navbarNameplate %}
        <img class="boop-nameplate" src="{{ url_for('static', filename='assets/boop-nameplate.svg') }}" style="width:60px;">
    {% endblock navbarNameplate %}

    {% block navbarContent %}
        {{ secured_navbar(current_user) }}
    {% endblock navbarContent %}

    {% block content %}
        <div id="ha-body" class="container" style="padding:0;">
            <div class="container" style="position:fixed;padding:0;">
                <div class="row" style="padding:0;margin:0;">
                    <div class="col-4" style="padding:0;">
                        <div id="ha-leftSection" style="padding-top:0;">
                            <input type="search" class="form-control" id="acc-search" placeholder="Search Boop">
                            {{ profileSnippet(current_user) }}
                            <button type="button" id="home-leftSect-postStory" class="btn btn-light btn-block">
                                <img class="hci-bb-p" src="{{ url_for('static', filename='assets/bullhorn.svg') }}">
                                Post Story
                            </button>
                        </div>
                        <div id="flash-primary-cont" class="container-fluid">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div id="ha-primary-flash" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                            <strong>{{ message }}</strong>
                                            <button id="ha-primary-flash-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="row">
                <div id="ha-leftSection-space" class="col-4"></div>
                <div id="ha-rightSection ml-5" class="col">
                    <div class="container-fluid mp-0">
                        <div id="home-content-panel" class="container-fluid">
                            <div id="flash-secondary-cont" class="container-fluid">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div id="ha-secondary-flash" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                                <strong>{{ message }}</strong>
                                                <button id="ha-secondary-flash-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div id="home-content-group" class="list-group">
                                {% for post in all_posts %}
                                    {{ content_item2(post) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            #acc-search {
                background-image: url({{ url_for('static', filename='assets/search.svg') }});
                background-size:17.5px;
                background-position: 4% 50%;
                background-repeat: no-repeat;
                text-indent: 30px;
            }
        </style>
    {% endblock content %}