{% macro profileSnippet(current_user) %}
    <div class="ha-lefSection-profileSnippet">
        <img src="{{ url_for('static', filename='images/{}'.format( current_user.coverPhotoFilename )) }}" id="home-coverPhoto-panel" class="container-fluid">
        <div id="home-profileSnippet-profPic-cont" class="container">
            <div class="float-left">
                <img id="home-profileSnippet-profPic" src="{{ url_for('static', filename='images/{}'.format( current_user.profPhotoFilename )) }}">
            </div>
        </div>
        <div id="home-profileSnippet-textSection" class="row mx-auto">
            <div class="col-md-auto" style="width:120px;"></div>
            <div class="col" style="margin:0;padding:0;">
                <div class="row" style="margin:5px 0 15px 2px;">
                    <div class="col">
                        <a id="home-profileSnippet-fullName" href="{{ url_for('user_profile_pets', username=current_user.username) }}">{{ current_user.firstName }} {{ current_user.lastName }}</a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <a id="home-profileSnippet-username" href="{{ url_for('user_profile_pets', username=current_user.username) }}"><small>@{{ current_user.username }}</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}