{% extends "layout.html" %}

    {% block bodyStyle %}
        <body style="overflow-y:scroll;">
    {% endblock bodyStyle %}

    {% block navbarAdjust %}
        <div id="secured-navbar" class="container-fluid">
    {% endblock navbarAdjust %}

    {% block navbarStyle %}
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#00002A;">
    {% endblock navbarStyle %}

    {% block navbarNameplate %}
        <img class="boop-nameplate" src="{{ url_for('static', filename='assets/boop-nameplate.svg') }}" style="width:60px;">
    {% endblock navbarNameplate %}

    {% block navbarContent %}
        <button id="navbar-collapse-toggler-btn" class="btn btn-outline-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div style="width:25px;margin:0 2px -5px 2px;">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#FFFFFF;}
                    </style>
                    <g>
                        <g>
                            <path class="st0" d="M491.3,235.3H20.7C9.3,235.3,0,244.6,0,256s9.3,20.7,20.7,20.7h470.6c11.4,0,20.7-9.3,20.7-20.7
                                C512,244.6,502.7,235.3,491.3,235.3z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path class="st0" d="M491.3,78.4H20.7C9.3,78.4,0,87.7,0,99.1s9.3,20.7,20.7,20.7h470.6c11.4,0,20.7-9.3,20.7-20.7
                                S502.7,78.4,491.3,78.4z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path class="st0" d="M491.3,392.2H20.7C9.3,392.2,0,401.5,0,412.9s9.3,20.7,20.7,20.7h470.6c11.4,0,20.7-9.3,20.7-20.7
                                S502.7,392.2,491.3,392.2z"/>
                        </g>
                    </g>
               </svg>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}" role="button" style="color:white;">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_profile_pets', username=current_user['username']) }}" role="button" style="color:white;">
                        Account
                    </a>
                </li>
                <li class="nav-item nav-item-collapse">
                    <a class="nav-link" href="#" role="button" style="color:white;">
                        Settings
                    </a>
                </li>
                <li class="nav-item nav-item-collapse">
                    <a class="nav-link" href="{{ url_for('logout') }}" role="button" style="color:white;">
                        Log out
                    </a>
                </li>
            </ul>
            <div id="navbar-dropdown" class="dropdown">
                <div class="dropdown">
                    <button id="gear-btn" class="btn btn-outline-light" data-toggle="dropdown">
                        <div style="width:25px;margin:0 2px -5px 2px;">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="150 -150 500 500" style="enable-background:new 150 -150 500 500;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:white;}
                                </style>
                                <path class="st0" d="M621.6,62.2l-60.1-9.8c-3.4-11.6-8-22.6-13.7-33.1l35.1-50c2.8-4,2.3-9.4-1.1-12.8l-38.9-38.9
                                    c-3.5-3.5-8.9-3.9-12.9-1L480.7-48c-10.5-5.8-21.6-10.4-33.3-13.9l-10.5-59.8c-0.8-4.8-5-8.3-9.9-8.3h-55c-4.9,0-9.1,3.5-9.9,8.4
                                    l-9.7,59.6c-11.7,3.4-22.8,8-33.4,13.7L270-83.5c-4-2.8-9.4-2.4-12.9,1.1l-38.9,38.9c-3.4,3.4-3.9,8.8-1.1,12.8l34.6,49.5
                                    c-5.8,10.6-10.5,21.8-14,33.6l-59.3,9.9c-4.8,0.8-8.3,5-8.3,9.9v55c0,4.9,3.5,9,8.2,9.9l59.3,10.5c3.5,11.8,8.1,23,13.9,33.6l-35,49
                                    c-2.8,4-2.4,9.4,1.1,12.9l38.9,38.9c3.4,3.4,8.8,3.9,12.8,1.1l49.6-34.7c10.5,5.8,21.7,10.4,33.5,13.8l9.9,59.6
                                    c0.8,4.8,5,8.4,9.9,8.4h55c4.9,0,9-3.5,9.9-8.3l10.6-59.9c11.7-3.5,22.8-8.2,33.3-14l49.9,35c4,2.8,9.4,2.3,12.8-1.1l38.9-38.9
                                    c3.5-3.5,3.9-8.9,1-12.9l-35.6-49.4c5.7-10.4,10.3-21.5,13.7-33.1l60.2-10.5c4.8-0.8,8.3-5,8.3-9.9v-55
                                    C630,67.2,626.4,63,621.6,62.2z M400,180c-44.1,0-80-35.9-80-80s35.9-80,80-80s80,35.9,80,80S444.1,180,400,180z"/>
                            </svg>
                        </div>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a id="navbar-settings" class="dropdown-item" href="#">Settings</a>
                        <a id="navbar-logout" class="dropdown-item" href="{{ url_for('logout') }}">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock navbarContent %}

    {% block content %}
        <div id="ha-body" class="container" style="padding:0;">
            <div class="container" style="position:fixed;padding:0;">
                <div class="row" style="padding:0;margin:0;">
                    <div class="col-4" style="padding:0;">
                        <div id="ha-leftSection" class="container-fluid" style="padding:0;margin:0;">
                        </div>
                        <div id="flash-primary-cont" class="container-fluid">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div id="ha-primary-flash" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                            <strong>{{ message }}</strong>
                                            <button id="ha-primary-flash-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="ha-leftSection-space" class="col-4"></div>
                <div id="ha-rightSection" class="col">
                    <div class="container-fluid">
                        <img src="https://res.cloudinary.com/fmscrns/image/upload/c_scale,w_300/v1557286605/boopit/pet/default/large/default-coverPhoto-lg.jpg" id="account-coverPhoto-panel" class="container-fluid">
                        <div id="account-profPic-cont" class="container-fluid">
                            <div class="float-left">
                                {% if pet.profPic_filename == "default" %}
                                    <img id="account-profPic" src="https://res.cloudinary.com/fmscrns/image/upload/c_scale,w_300/v1557302148/boopit/pet/default/default-profilePhoto.jpg">
                                {% else %}
                                    <img id="account-profPic" src="https://res.cloudinary.com/fmscrns/image/upload/c_scale,w_300/v1557302148/boopit/pet/{{ user.username }}/{{ pet.profPic_filename }}">
                                {% endif %}
                            </div>
                        </div>
                        <div id="account-info-panel" class="container-fluid">
                            <div class="row">
                                <div id="account-info-panel-leftSpace" class="col-md-auto">
                                </div>
                                <div class="col-8">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <div id="account-userInfo-cont" class="container">
                                                    <div class="row">
                                                        <div id="account-primary-nameplate-cont" class="col">
                                                            <h5 id="account-fullName">{{ pet.pet_name }}</h5>
                                                        </div>
                                                        <div class="w-100"></div>
                                                        <div id="account-secondary-nameplate-cont" class="col">
                                                            <small>{{ pet.bio }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="account-primary-editProfile-btn-cont" class="col-4 align-self-center">
                                                {% if current_user_page == True %}
                                               <!--- {% for deal in deal_pets %}
                                                <button type="button" data-toggle="modal" data-target="#update-user-modal" id="edit-user-modal-title" class="btn btn-outline-primary float-right">
                                                    Adopt Pet
                                                </button>
        
                                                <div class="modal" id="update-user-modal" tabindex="-1" role="dialog" aria-labelledby="update-user-modal-title" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="update-user-modal-title">Adopt Pet</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form method="POST" action="{{ url_for('deal_pet', username=user.username, pet_id=deal.pet_id) }}" enctype="multipart/form-data">
                                                                <div id="updateUserForm-modal-body" class="modal-body">
                                                                    <div class="updateUser-form" class="container">
                                                                        {{ dealPetForm.hidden_tag() }}
                                                                        <fieldset class="form-group">
                                                                            
                                                                            <div class="form-group">
                                                                                <label>Price</label>
                                                                                {% if dealPetForm.pricePet_input.errors %}
                                                                                    {{ dealPetForm.pricePet_input(class="form-control is-invalid") }}
                                                                                    <div class="invalid-feedback">
                                                                                        {% for error in dealPetForm.pricePet_input.errors %}
                                                                                            <span> {{ error }} </span>
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                {% else %}
                                                                                    {{ dealPetForm.pricePet_input(class="form-control") }}
                                                                                {% endif %}
                                                                            </div>
                                                                            
                                                                            
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    {{ dealPetForm.dealPet_submit_input(class="btn btn-outline-primary") }}
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                --->
                                            </div> 
                                    </div>
                                    <div id="account-primary-editProfile-btn-cont" class="col-4 align-self-center">
                                        {% if current_user_page == True %}

                                        <a href="#" class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#myModal"}> Delete Pet </a>
                                        
                                        <div class="modal fade" name="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header border-0 text-center">
                                                  <h5 class="modal-title text-danger" id="exampleModalScrollableTitle">Confirm Action</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body mb-0">
                                                    <h5>Are you sure you want to delete pet?</h5>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                                                   
                                            <form action="{{ url_for('delete_pet',public_id=pet.public_id, username=user.username) }}" method="DELETE">
                                                <input class="btn btn-outline-primary float-right" type="submit" value=" Delete Pet ">
                                            </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                                <div id="account-info-panel-rightSpace" class="col-4">
                                    <div class="container">
                                        {% if current_user_page == True %}  
                                        
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="account-details-panel" class="container-fluid">
                            <div class="container">
                                <div class="row">
                                    <div class="col acc-details-col">
                                        <div class="row">
                                            <div class="col-1 acc-detail-img-cont">
                                             <img src="{{ url_for('static', filename='assets/' + pet.specie_name + '.svg') }}" style="width:25px;">
                                            </div>
                                            <div class="col-7" style="margin:0 0 0 2px;">
                                                <small><span class="text-muted">{{ pet.specie_name }} | {{ pet.breed_name }}</span></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col acc-details-col">
                                        <div class="row">
                                            <div class="col-1 acc-detail-img-cont">
                                                <img src="{{ url_for('static', filename='assets/birthday.svg') }}" style="width:25px;">
                                            </div>
                                            <div class="col-7" style="margin:0 0 0 2px;">
                                                <small><span class="text-muted">{{ pet.birthday.strftime("%B") }} {{ pet.birthday.strftime("%m") }}, {{ pet.birthday.strftime("%Y") }}</span></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col acc-details-col">
                                        <div class="row">
                                            <div class="col-1 acc-detail-img-cont">
                                                <img src="{{ url_for('static', filename='assets/owner.svg') }}" style="width:25px;">
                                            </div>
                                            <div class="col-7" style="margin:0 0 0 2px;">
                                                {% if owner_list|length == 1 %}
                                                    <small><span class="text-muted">Owned by <a class="owner_link" href="{{ url_for('user_profile_pets', username=owner_list[0].username) }}">{{ owner_list[0].first_name }} {{ owner_list[0].last_name }}</a></span></small>
                                                {% elif owner_list|length < 4 %}
                                                    <small><span class="text-muted">Owned by {% for owner in owner_list %}{% if loop.index == loop|length %} and <a class="owner_link" href="{{ url_for('user_profile_pets', username=owner.username) }}">{{ owner.first_name }} {{ owner.last_name }}</a>{% elif loop.index == (loop|length - 1) %}<a class="owner_link" href="{{ url_for('user_profile_pets', username=owner.username) }}">{{ owner.first_name }} {{ owner.last_name }}</a>{% else %}<a class="owner_link" href="{{ url_for('user_profile_pets', username=owner.username) }}">{{ owner.first_name }} {{ owner.last_name }}</a>, {% endif %}{% endfor %}</span></small>
                                                {% else %}
                                                    <a id="owner_list_btn" data-toggle="modal" data-target="#ownerListModal">
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <div class="row">
                                                                    {% for owner in owner_list %}
                                                                        <img id="account-profPic-vsm" src="https://res.cloudinary.com/fmscrns/image/upload/v1555422032/sample.jpg">
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="col-5">
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <div class="modal" id="ownerListModal" tabindex="-1" role="dialog" aria-labelledby="ownerListModalTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="ownerListModalTitle">Owners</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div id="ownerList-modal-body" class="modal-body list-group list-group-flush">
                                                                    {% for owner in owner_list %}
                                                                        <a href="{{ url_for('user_profile_pets', username=owner['username']) }}" class="list-group-item list-group-item-action">
                                                                            {{ owner.first_name }} {{ owner.last_name }}
                                                                        </a>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="account-action-panel" class="container-fluid">
                            <div class="row">
                                <a href="{{ url_for('pet_profile_wall', username=user.username, public_id=pet.public_id) }}" class="col account-actionPanel-item text-center" style="border-radius:0;border-bottom:{{ postsNavActivate }};">
                                    Wall
                                </a>
                                <a href="{{ url_for('pet_profile_media', username=user.username, public_id=pet.public_id) }}" class="col account-actionPanel-item text-center" style="border-radius:0;border-bottom:{{ galleryNavActivate }};">
                                    Media
                                </a>
                            </div>
                        </div>
                        {% if pet_stories is defined %}
                            <div id="account-content-stories-panel" class="container-fluid">

                            </div>
                        {% elif pet_gallery is defined %}
                            <div id="account-content-gallery-panel" class="container-fluid">

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}