{% extends "layout.html" %}
{% from "navbar_components.html" import secured_navbar %}

    {% block bodyStyle %}
        <body style="overflow-y:scroll;">
    {% endblock bodyStyle %}

    {% block navbarAdjust %}
        <div id="secured-navbar" class="container-fluid">
    {% endblock navbarAdjust %}

    {% block navbarStyle %}
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#00002A;">
    {% endblock navbarStyle %}

    {% block navbarNameplate %}
        <img class="boop-nameplate" src="{{ url_for('static', filename='assets/boop-nameplate.svg') }}" style="width:60px;">
    {% endblock navbarNameplate %}

    {% block navbarContent %}
        {{ secured_navbar(current_user) }}
    {% endblock navbarContent %}

    {% block content %}
        <div id="ha-body" class="container" style="padding:0;">
            <div class="container" style="position:fixed;padding:0;">
                <div class="row" style="padding:0;margin:0;">
                    <div class="col-4" style="padding:0;">
                        <div id="ha-leftSection" class="container-fluid" style="padding:0;margin:0;">
                        </div>
                        <div id="flash-primary-cont" class="container-fluid">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div id="ha-primary-flash" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                            <strong>{{ message }}</strong>
                                            <button id="ha-primary-flash-close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="ha-leftSection-space" class="col-4"></div>
                <div id="ha-rightSection" class="col">
                    <div class="container-fluid">
                        <img src="{{ url_for('static', filename='images/{}'.format(pet.coverPhoto_filename)) }}" id="account-coverPhoto-panel" class="container-fluid mp-0">
                        <div id="account-profPic-cont" class="container-fluid">
                            <div class="float-left">
                                <img id="account-profPic" src="{{ url_for('static', filename='images/{}'.format(pet.profPhoto_filename)) }}">
                            </div>
                        </div>
                        <div id="account-info-panel" class="container-fluid">
                            <div class="row">
                                <div id="account-info-panel-leftSpace" class="col-md-auto">
                                </div>
                                <div class="col-8">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <div id="account-userInfo-cont" class="container">
                                                    
                                                    <div class="row">
                                                        <div id="account-primary-nameplate-cont" class="col">
                                                            <h5 id="account-fullName">{{ pet.pet_name }}</h5>
                                                        </div>
                                                        <div class="w-100"></div>
                                                        <div id="account-secondary-nameplate-cont" class="col">
                                                            <small>{{ pet.bio }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div id="account-primary-editProfile-btn-cont" class="col-4 align-self-center">
                                               
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item"  data-toggle="modal" data-target="#adoptPet"}> Adopt Pet </a>
                                                        <a class="dropdown-item"   data-toggle="modal" data-target="#petForSale"}> Pet For Sale </a>
                                                        <a class="dropdown-item"   data-toggle="modal" data-target="#myModal"}> Delete Pet </a>
                                                
                                                    </div>
                                                  </div>
                                                {% if current_user_page == True %}
                                               <!--- {% for deal in deal_pets %}
                                                <button type="button" data-toggle="modal" data-target="#update-user-modal" id="edit-user-modal-title" class="btn btn-outline-primary float-right">
                                                    Adopt Pet
                                                </button>
        
                                                <div class="modal" id="update-user-modal" tabindex="-1" role="dialog" aria-labelledby="update-user-modal-title" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="update-user-modal-title">Adopt Pet</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form method="POST" action="{{ url_for('deal_pet', username=user.username, pet_id=deal.pet_id) }}" enctype="multipart/form-data">
                                                                <div id="updateUserForm-modal-body" class="modal-body">
                                                                    <div class="updateUser-form" class="container">
                                                                        {{ dealPetForm.hidden_tag() }}
                                                                        <fieldset class="form-group">
                                                                            
                                                                            <div class="form-group">
                                                                                <label>Price</label>
                                                                                {% if dealPetForm.pricePet_input.errors %}
                                                                                    {{ dealPetForm.pricePet_input(class="form-control is-invalid") }}
                                                                                    <div class="invalid-feedback">
                                                                                        {% for error in dealPetForm.pricePet_input.errors %}
                                                                                            <span> {{ error }} </span>
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                {% else %}
                                                                                    {{ dealPetForm.pricePet_input(class="form-control") }}
                                                                                {% endif %}
                                                                            </div>
                                                                            
                                                                            
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    {{ dealPetForm.dealPet_submit_input(class="btn btn-outline-primary") }}
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                --->
                                            </div> 
                                    </div>
                                    <div id="account-primary-editProfile-btn-cont" class="col-4 align-self-center">
                                        {% if current_user_page == True %}

                                    
                                        <br>
                                          <!--Adopt Pet Modal-->
                                          <div class="modal fade" name="modal" id="adoptPet" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header border-0 text-center">
                                                  <h5 class="modal-title text-danger" id="exampleModalScrollableTitle">Adopt Pet</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body mb-0">
                                                    <h5>Are you sure you want to adopt pet?</h5>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                                                   
                                            <form action="{{ url_for('delete_pet',public_id=pet.public_id, username=user.username) }}" method="DELETE">
                                                <input class="btn btn-outline-primary float-right" type="submit" value=" Delete Pet ">
                                            </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!--End Adopt Pet-->

                                           <!--Pet for Sale Modal-->
                                           <div class="modal fade" name="modal" id="petForSale" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header border-0 text-center">
                                                  <h5 class="modal-title text-danger" id="exampleModalScrollableTitle">Pet for Sale</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body mb-0">
                                                    <h5>Are you sure you want to delete pet?</h5>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                                                   
                                            <form action="{{ url_for('delete_pet',public_id=pet.public_id, username=user.username) }}" method="DELETE">
                                                <input class="btn btn-outline-primary float-right" type="submit" value=" Delete Pet ">
                                            </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!--End Pet for sale-->

                                        <!--Delete Pet Modal-->
                                        <div class="modal fade" name="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header border-0 text-center">
                                                  <h5 class="modal-title text-danger" id="exampleModalScrollableTitle">Confirm Action</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body mb-0">
                                                    <h5>Are you sure you want to delete pet?</h5>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                                                   
                                            <form action="{{ url_for('delete_pet',public_id=pet.public_id, username=user.username) }}" method="DELETE">
                                                <input class="btn btn-outline-primary float-right" type="submit" value=" Delete Pet ">
                                            </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!--End Delete Pet-->

                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                                <div id="account-info-panel-rightSpace" class="col-4">
                                    <div class="container">
                                        {% if current_user_page == True %}  
                                        
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="account-details-panel" class="container-fluid">
                            <div class="container">
                                <div class="row">
                                    <div class="col acc-details-col">
                                        <div class="row">
                                            <div class="col-1 acc-detail-img-cont">
                                             <img src="{{ url_for('static', filename='assets/' + pet.specie_name + '.svg') }}" style="width:25px;">
                                            </div>
                                            <div class="col-7" style="margin:0 0 0 2px;">
                                                <small><span class="text-muted">{{ pet.specie_name }} | {{ pet.breed_name }}</span></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col acc-details-col">
                                        <div class="row">
                                            <div class="col-1 acc-detail-img-cont">
                                                <img src="{{ url_for('static', filename='assets/birthday.svg') }}" style="width:25px;">
                                            </div>
                                            <div class="col-7" style="margin:0 0 0 2px;">
                                                <small><span class="text-muted">{{ pet.birthday.strftime("%B") }} {{ pet.birthday.strftime("%m") }}, {{ pet.birthday.strftime("%Y") }}</span></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col acc-details-col">
                                        <div class="row">
                                            <div class="col-1 acc-detail-img-cont">
                                                <img src="{{ url_for('static', filename='assets/owner.svg') }}" style="width:25px;">
                                            </div>
                                            <div class="col-7" style="margin:0 0 0 2px;">
                                                {% if owner_list|length == 1 %}
                                                    <small><span class="text-muted">Owned by <a class="owner_link" href="{{ url_for('user_profile_pets', username=owner_list[0].username) }}">{{ owner_list[0].first_name }} {{ owner_list[0].last_name }}</a></span></small>
                                                {% elif owner_list|length < 4 %}
                                                    <small><span class="text-muted">Owned by {% for owner in owner_list %}{% if loop.index == loop|length %} and <a class="owner_link" href="{{ url_for('user_profile_pets', username=owner.username) }}">{{ owner.first_name }} {{ owner.last_name }}</a>{% elif loop.index == (loop|length - 1) %}<a class="owner_link" href="{{ url_for('user_profile_pets', username=owner.username) }}">{{ owner.first_name }} {{ owner.last_name }}</a>{% else %}<a class="owner_link" href="{{ url_for('user_profile_pets', username=owner.username) }}">{{ owner.first_name }} {{ owner.last_name }}</a>, {% endif %}{% endfor %}</span></small>
                                                {% else %}
                                                    <a id="owner_list_btn" data-toggle="modal" data-target="#ownerListModal">
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <div class="row">
                                                                    {% for owner in owner_list %}
                                                                        <img id="account-profPic-vsm" src="https://res.cloudinary.com/fmscrns/image/upload/v1555422032/sample.jpg">
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="col-5">
                                                            </div>
                                                        </div>
                                                    </button>
                                                    <div class="modal" id="ownerListModal" tabindex="-1" role="dialog" aria-labelledby="ownerListModalTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="ownerListModalTitle">Owners</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div id="ownerList-modal-body" class="modal-body list-group list-group-flush">
                                                                    {% for owner in owner_list %}
                                                                        <a href="{{ url_for('user_profile_pets', username=owner['username']) }}" class="list-group-item list-group-item-action">
                                                                            {{ owner.first_name }} {{ owner.last_name }}
                                                                        </a>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="account-action-panel" class="container-fluid">
                            <div class="row">
                                <a href="{{ url_for('pet_profile_wall', username=user.username, public_id=pet.public_id) }}" class="col account-actionPanel-item text-center" style="border-radius:0;border-bottom:{{ postsNavActivate }};">
                                    Wall
                                </a>
                                <a href="{{ url_for('pet_profile_media', username=user.username, public_id=pet.public_id) }}" class="col account-actionPanel-item text-center" style="border-radius:0;border-bottom:{{ galleryNavActivate }};">
                                    Media
                                </a>
                            </div>
                        </div>
                        {% if pet_stories is defined %}
                            <div id="account-content-stories-panel" class="container-fluid">

                            </div>
                        {% elif pet_gallery is defined %}
                            <div id="account-content-gallery-panel" class="container-fluid">

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}