{% extends "layout.html" %}

    {% block bodyStyle %}
        <body>
    {% endblock bodyStyle %}

    {% block navbarStyle %}
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#00002A;">
    {% endblock navbarStyle %}

    {% block navbarNameplate %}
        <img class="boop-nameplate" src="{{ url_for('static', filename='assets/boop-nameplate.svg') }}" style="width:60px;">
    {% endblock navbarNameplate %}

    {% block flashMessage %}
        <div id="alert-box" class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    {% endblock flashMessage %}

    {% block content %}
        <div class="input-group mb-3 justify-content-center">
                <form method="PUT" action="">
                    {{ updateForm.hidden_tag() }}
                    <fieldset id="signup-form" class="form-group">
                        <div class="form-group">
                            <label>Name</label>
                            <div class="form-row">
                                <div class="col">
                                    {% if updateForm.firstName_input.errors %}
                                        {{ updateForm.firstName_input(class="form-control is-invalid", style="width:10rem;", placeholder="First Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in updateForm.firstName_input.errors %}
                                                <span> {{ error }} </span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ updateForm.firstName_input(class="form-control", style="width:10rem;", placeholder="First Name") }}
                                    {% endif %}
                                </div>
                                <div class="col">
                                    {% if updateForm.lastName_input.errors %}
                                        {{ updateForm.lastName_input(class="form-control is-invalid", style="width:10rem;", placeholder="Last Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in updateForm.lastName_input.errors %}
                                                <span> {{ error }} </span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ updateForm.lastName_input(class="form-control", style="width:10rem;", placeholder="Last Name") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contact Number</label>
                            {% if updateForm.contactNo_input.errors %}
                                {{ updateForm.contactNo_input(class="form-control is-invalid", placeholder="Contact Number") }}
                                <div class="invalid-feedback">
                                    {% for error in updateForm.contactNo_input.errors %}
                                        <span> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ updateForm.contactNo_input(class="form-control", placeholder="Contact Number") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            {% if updateForm.username_input.errors %}
                                {{ updateForm.username_input(class="form-control is-invalid", placeholder="Username") }}
                                <div class="invalid-feedback">
                                    {% for error in updateForm.username_input.errors %}
                                        <span> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ updateForm.username_input(class="form-control", placeholder="Username") }}
                                <div>
                                    <div class="lead text-muted" style="font-size:12px;">Example: johndoe</div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            {% if updateForm.email_input.errors %}
                                {{ updateForm.email_input(class="form-control is-invalid", placeholder="Email Address") }}
                                <div class="invalid-feedback">
                                    {% for error in updateForm.email_input.errors %}
                                        <span> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ updateForm.email_input(class="form-control", placeholder="Email Address") }}
                                <div>
                                    <div class="lead text-muted" style="font-size:12px;">Example: johndoe@demo.com</div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            {% if updateForm.password_input.errors %}
                                {{ updateForm.password_input(class="form-control is-invalid", placeholder="Password") }}
                                <div class="invalid-feedback">
                                    {% for error in updateForm.password_input.errors %}
                                        <span> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ updateForm.password_input(class="form-control", placeholder="Password") }}
                                <div>
                                    <div class="lead text-muted" style="font-size:12px;">It is highly recommended to use a strong password.</div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group text-right" style="padding-top:1.5rem;">
                            {{ updateForm.update_submit_input(class="btn btn-outline-primary btn-block") }}
                        </div>
                    </fieldset>
                </form>
            </div>
	{% endblock content %}